.dashboard-sidebar {
  width: 8%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}

.sidebar-menu {
  display: flex;
  padding: 1em;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
}

.sidebar-logo img {
  width: 90%;
  cursor: pointer;
}

.sidebar-menu-item img {
  width: 25px;
  cursor: pointer;
}
