.dashboard-top {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.dashboard-top-left {
  display: flex;
}

.user-details {
  padding-left: 1em;
}

.user {
  display: flex;
}

.greeting {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: #67afd0;
}
.verified {
  align-items: center;
  display: flex;
  padding-left: 0.5em;
}

.user-rating {
  padding-top: 0.5em;
}

.dashboard-top-right {
  display: flex;
  align-items: center;
}

.top-icon-container {
  padding: 1em;
}

.top-icon-container img {
  cursor: pointer;
}

.profile-link {
  text-decoration: none;
  display: flex;
}

.not-verified-warning {
  text-align: center;
  color: red;
  border-top: 1px solid #e91e63;
  background: #ffe4e4;
  font-weight: bold;
}
.not-verified-warning span a {
  padding-left: 10px;
  cursor: pointer;
  color: #ff6584;
  text-decoration: underline;
}
.not-verified-warning span a:hover {
  color: darkred;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .profile-photo-container img {
    width: 50px;
  }
  .dashboard-top-right {
    flex-direction: column;
  }
  .top-icon-container {
    padding: 0.3em;
  }
}
