.table-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-input {
  margin: 0 0;
}

.filter-input label {
  margin-right: 1em;
  color: #6c63ff;
  font-weight: bold;
}

.filter-input input {
  height: 40px;
  outline: 0;
  width: 300px;
  border: 0;
  background-color: #e6afc2;
  border-radius: 50px;
  padding: 1.5em;
  font-size: 1em;
}

@media (max-width: 800px) {
  .filter-input input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .table-top {
    justify-content: flex-start;
  }
  .plus-img {
    width: 40px;
    padding-left: 5px;
  }
  .filter-input input {
    width: 150px;
  }
  .filter-input {
    display: flex;
    flex-direction: column;
  }
}
