.hiw {
  margin: 30vh 0px 20px 0px;
  background-color: hsl(0, 0%, 100%);
}

.steps,
.step-line-numbers,
.step-line-numbers::before {
  width: 80vw;
}

.hiw,
.steps,
.step-line-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.steps img {
  width: 200px;
  height: 185px;
}

.steps li:first-child img {
  width: 115px;
}

.steps li:first-child h2 {
  margin-top: -32px;
}

.steps li:first-child h4 {
  margin-left: -35px;
}

.steps li h4,
.steps li h2 {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.step-line-numbers {
  position: relative;
  margin-top: 20px;
}

.step-line-numbers li {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 100%;
  background-color: #ff6584;
}

.step-line-numbers h4 {
  margin-top: -0.1vh;
}

.step-line {
  width: 80%;
  height: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#efb7b9),
    to(#efb7b9),
    color-stop(0.75, #eee)
  );
  bottom: -547px;
  position: absolute;
}
