.dashboard-page {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-dashboard {
  background-color: #e5e5e5;
  width: 92%;
}

.dashboard-body {
  padding: 0 5em;
}

.my-packages-header {
  margin: 0;
  padding: 0;
}
