/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95c7de;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard-page {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-dashboard {
  background-color: #e5e5e5;
  width: 92%;
}

.dashboard-body {
  padding: 0 5em;
  height: 80%;
  width: 93%;
  overflow: scroll;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* .dashboard-body::-webkit-scrollbar {
  display: none;
} */

.dashboard-body h4 {
  margin: 10px 0;
}

.my-packages-header {
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  .dashboard-body {
    padding: 0 1em;
  }
}
