.animate {
  -webkit-animation: animatezoom 0.8s;
  animation: animatezoom 0.8s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.tracker-page {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.tracker-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  max-height: 90%;
  position: relative;
  padding: 2em;
  border: 2px solid #c3deec;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

.tracker-status {
  color: #ff6584;
  font-family: Montserrat Alternates;
  width: 100%;
}

.description {
  color: #67afd0;
  font-family: Montserrat Alternates;
  text-align: center;
}

.sender {
  display: flex;
  align-items: center;
  padding: 2em;
}

.sender-details {
  padding-left: 1em;
}

.detail-container {
  margin: 0.5em 0;
}
.sender .detail {
  padding: 0.5em;
  border: 1px solid #67afd0;
  border-radius: 2px;
}
.action {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.action-btn {
  background: #67afd0;
  border-radius: 2px;
  padding: 0.7em 1.2em;
  font-family: Montserrat Alternates;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #ff6584;
}

#cancel-btn {
  background-color: #ff6584;
}

#cancel-btn:hover {
  background-color: #67afd0;
}

/* tracker styles */
.tracker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin-top: 2em;
  position: relative;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff6584;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: #2ad2be;
  z-index: 1;
}

.done::after {
  content: url("../../images/dashboard/good2.png");
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracker p {
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

.line {
  left: 40px;
  top: 38%;
  width: 84%;
  height: 4px;
  background-color: #ff6584;
  position: absolute;
}

@media (max-width: 1200px) {
  .line {
    width: 82%;
  }
}

@media (max-width: 650px) {
  .line {
    width: 70%;
  }
}

/* pin input styles */

.pin-input {
  display: flex;
  margin: 1em;
}

.pin-input input {
  width: 50px;
  height: 50px;
  margin: 1em;
  text-align: center;
}

/* display pin styles */
.display-pin {
  margin-bottom: 2em;
  width: 80%;
}

.display-pin h3 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat Alternates;
}
.display-pin p {
  font-weight: 800;
  text-align: center;
  color: #ff6584;
}

.pin-holder {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.pin-holder div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #67afd0;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0.2em;

  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(108, 99, 255, 0.6);
}

/* rating styles */

.rating {
  margin-top: 2em;
}

.rating h3 {
  text-align: center;
  margin-bottom: 1em;
}

@media (max-width: 1026px) {
  .tracker-main {
    width: 80%;
  }
}

@media (max-width: 466px) {
  .tracker-main {
    overflow-y: scroll;
    width: 98%;
    padding: 1em;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .sender {
    padding: 1em;
  }
  .action {
    margin: 1em;
  }

  .pin-input {
    margin: 0;
  }

  .pin-input input {
    margin: 0.5em;
  }

  .display-pin {
    margin-bottom: 2em;
    width: 100%;
  }
  .tracker {
    margin-top: 0em;
  }
}
